* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Segoe UI';
    max-width: 1440px;
    margin: auto;
    padding: 0;
}



/* Navigation-menu / Header*/

.header__navigation-menu {
    background-color: #2e2e2e;
    color: white;
    position: relative;
    font-weight: 400;
    font-size: 16px;
}

.header__menu-list {
    margin: unset;
    padding: 0;
    list-style: none;
    display: flex;
}

.header__menu-list .header__navigation-toggle {
    display: flex;
}

.header__menu-link {
    color: inherit;
    text-decoration: none;
    padding: 1em;
    display: inline-block;

}

.header__menu-link:hover {
    background-color: #5b5a5a;
}

.header__list-item--home {
    background-color: #55eabe;

}


.header__navigation-menu .header__navigation-hamburger {
    position: absolute;
    top: 0;
    right: 0;
    border: unset;
    background: unset;
    cursor: pointer;
    display: none;
}


.header__navigation-menu .header__navigation-hamburger svg {
    stroke: white;
}

.header__navigation-menu .header__navigation-hamburger .icon__close {
    display: none;
}

/* Logotype */

.header__logo {
    max-width: 150px;
    margin-top: 8px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    /* Logotype color: #55eabe */
}


/* Header booking form */



.header__booking-form {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    border: none;
    background-color: #55eabe;


}


.header__form--search,
.header__form--date,
.header__form--guest-number {
    display: flex;
    flex-direction: column;
    border: none;
    margin-right: 1rem;
    color: white;
    font-weight: bold;
    font-family: Segoe UI;
}


.header__form--search,
.header__form--search-text,
.header__form--guests,
.header__form--date-picker {

    padding: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    font-family: Segoe UI;
    border: none;

}



.header__form--date-picker {
    padding: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    margin-right: 0.5rem;
    font-style: none;

}


.header__form--button {
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 20rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: none;
    font-family: Segoe UI;
}

.header__form--button:hover {
    background-color: rgb(213, 209, 209);
}


/* Header video */
.header__video-container {
    max-width: 100%;
    height: 60vh;
    overflow: hidden;



}

.header__image {
    max-width: 100%;
    margin-bottom: 0;
    background-image: url(/individual-exam/assets/photos/woodnest-treehouse-odda-norway.jpg);
    background-size: 100%;
    height: 40rem;
    background-repeat: no-repeat;
}

/* Main section "home" */

main {
    max-width: 1000px;
    margin: auto
}


.main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
    margin-bottom: 10rem;

}

/* Main - big - container */

.main__container--big {
    background-color: #5b5a5a;
    height: 30rem;
    padding: 4rem;
    grid-column: auto /span 1;
    grid-row: auto /span 2;
    text-align: center;

}

.main__container--big h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.main__container--big p {
    margin-bottom: 3rem;
    font-size: 18px;
    color: white;

}

.main__container--big button {
    background-color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-left: 7rem;

}

.main__container--big button:hover {
    background-color: #55eabe;

}

/* Main - small - container */

.main__container--small-top,
.main__container--small-bot {
    grid-column: auto /span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.main__container--small-top {
    background-color: #55eabe;
    color: black;
}

.main__container--small-bot {
    background-color: white;
}

.main__container--small-top h2,
.main__container--small-bot h2 {
    cursor: pointer;
    font-size: 18px;
}


.main__image--cabin {

    max-width: 100%;
    margin-bottom: 2rem;
    padding: 0;
    background-image: url(/individual-exam/assets/photos/woodnest-treehouse-odda-norway-designboom.jpg);
    background-size: 100%;
    height: 40rem;
    background-repeat: no-repeat;

}

.main__image--info-text {
    margin-bottom: 10rem;
    text-align: center;
    color: #28452a;

}

.main__image--info-text p {
    padding: 10px;
    font-size: 18px;
    color: black;

}




/* Footer section */

.bg-footer-gray {
    width: 100%;
}

.footer-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
    background-color: #2e2e2e;
}

.footer-container h2 {
    grid-area: auto / auto / span 1 / span 4;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;

}

.footer__h2 {
    grid-area: auto / auto / span 1 / span 1;
    max-width: 70%;



}

.footer-container__footer-item {
    grid-area: auto / auto / span 1 / span 1;
    max-width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;



}

.footer-container__footer-item h3 {
    color: #55eabe;
    font-size: 1rem;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}


/* Our facilities - Section */


.header__facitilities-image {
    max-width: 100%;
    margin-bottom: 0;
    background-image: url(/individual-exam/assets/photos/woodnest-treehouse-odda-norway.jpg);
    background-size: 100%;
    height: 40rem;
    background-repeat: no-repeat;
}


.main__facitilities {

    max-width: 1000px;
    margin: auto;


}

.main__facitilities-headings {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.main__facitilities-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 4rem;
    color: #28452a;
    font-family: 'Prata', Georgia, "Times New Roman", serif;
}

.main__facitilities-heading--h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #28452a;
    font-family: 'Prata', Georgia, "Times New Roman", serif;

}

.main__facitilities-paragraph,
.main__facitilities-list-item {
    padding: 1rem;
    font-size: 16px;
    color: #28452a;

}

.main__facitilities-paragraph--bold {
    font-weight: 500;
}


.main__facitilities-list-item {
    margin-left: 20px;
}


.main__facitilities-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    margin-bottom: 5rem;
}

.main_facitilities-info {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}



.main__facitilities-image--hugging,
.main__facitilities-image--house {
    grid-column: 2 / span 1;
    grid-row: auto / span 1;
    height: 60vh;
    padding: 10px;
    border-radius: 15px;
}









/* Booking - Main section */



.main__booking-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.main_booking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20rem;

}

.main__booking-topic {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 4rem;
    color: rgb(40, 69, 42);
}


.main__booking-image {
    max-width: 100%;
    height: 30vh;
}



.main__booking-heading {

    font-size: 18px;
    font-weight: 500;
    color: rgb(40, 69, 42);
    margin-bottom: 0.5rem;
}



.main__booking-container--right {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: rgba(153, 120, 123, 0.17);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.main__booking-container--left {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: rgba(153, 120, 123, 0.17);
    display: flex;
    flex-direction: column;

}



.main__booking--list {
    margin-left: 1rem;
}



.main__booking--info-list {
    padding: 2rem;
}

.main__booking-form--check-in,
.main__booking-form--check-out {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0.5rem;


}


.main__booking-form--date-picker {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem 0.5rem;
    font-style: none;
    cursor: pointer;

}

.main__booking-btn {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
    max-width: 40%;
    background-color: rgb(40, 69, 42);
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    list-style: none;

}

.main_booking-availibility-info {
    padding: 1.5rem;
    text-align: center;
}

.main_booking-availibility-info p {
    padding: 10px;
}


/* Hotels & Destinations - Section */


.header__hotels-image {
    max-width: 100%;
    margin-bottom: 0;
    background-image: url(/individual-exam/assets/photos/woodnest-treehouse-odda-norway-designboom.jpg);
    background-size: 100%;
    height: 40rem;
    background-repeat: no-repeat;
}









/* Media quary */

@media screen and (max-width: 650px) {

    /* Hamburger menu */

    .header__navigation-menu.open ul {
        display: block;
    }

    .header__navigation-menu.open .header__navigation-toggle {
        display: block;
    }

    .header__navigation-menu.open a {
        display: block;
    }

    .header__navigation-menu .header__navigation-toggle {
        display: none;
    }

    .header__navigation-menu .header__navigation-hamburger {
        display: block;
    }

    .header__navigation-menu.open .header__navigation-hamburger .icon__open {
        display: none;
    }

    .header__navigation-menu.open .header__navigation-hamburger .icon__close {
        display: block;
    }


}