* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    margin: auto;
    padding: 0;


}



/* Navigation-menu / Header*/

.header__navigation-menu {
    background-color: #2e2e2e;
    color: white;
    position: relative;
}

.header__menu-list {
    margin: unset;
    padding: 0;
    list-style: none;
    display: flex;
}

.header__menu-list .header__navigation-toggle {
    display: flex;
}

.header__menu-link {
    color: inherit;
    text-decoration: none;
    padding: 1em;
    display: inline-block;

}

.header__menu-link:hover {
    background-color: #5b5a5a;
}

.header__list-item--home {
    background-color: #55eabe;

}


.header__navigation-menu .header__navigation-hamburger {
    position: absolute;
    top: 0;
    right: 0;
    border: unset;
    background: unset;
    cursor: pointer;
    display: none;
}


.header__navigation-menu .header__navigation-hamburger svg {
    stroke: white;
}

.header__navigation-menu .header__navigation-hamburger .icon__close {
    display: none;
}

/* Logotype */

.header__logo {
    max-width: 150px;
    margin-top: 8px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    /* Logotype color: #55eabe */
}

.header__image {
    max-width: 100%;
    margin-bottom: 0;
    background-image: url(/individual-exam/assets/photos/woodnest-treehouse-odda-norway.jpg);
    background-size: 100%;
    height: 50rem;
    background-repeat: no-repeat;
}

/* Main section */

main {
    max-width: 1000px;
    margin: auto
}


.main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}

/* Main - big - container */

.main__container--big {
    background-color: #5b5a5a;
    height: 30rem;
    padding: 4rem;
    grid-column: auto /span 1;
    grid-row: auto /span 2;
}

.main__container--big h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.main__container--big p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: white;
}

.main__container--big button {
    background-color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-left: 7rem;
}



/* Main - small - container */

.main__container--small-top,
.main__container--small-bot {
    grid-column: auto /span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main__container--small-top {
    background-color: #55eabe;
    color: black;

}

.main__container--small-bot {
    background-color: white;
}









/* Media quary */

@media screen and (max-width: 650px) {

    /* Hamburger menu */

    .header__navigation-menu.open ul {
        display: block;
    }

    .header__navigation-menu.open .header__navigation-toggle {
        display: block;
    }

    .header__navigation-menu.open a {
        display: block;
    }

    .header__navigation-menu .header__navigation-toggle {
        display: none;
    }

    .header__navigation-menu .header__navigation-hamburger {
        display: block;
    }

    .header__navigation-menu.open .header__navigation-hamburger .icon__open {
        display: none;
    }

    .header__navigation-menu.open .header__navigation-hamburger .icon__close {
        display: block;
    }


}